target/
kompile-cli/kompile-c
kompile-cli/kompile-python
kompile-core/kompile-python/build
kompile-core/kompile-python/dist
kompile-core/kompile-python/kompile.egg-info
pom.xml.tag
*.pyc
konduit-serving/
kompile-cli/konduit-serving-bundle
kompile-cli/konduit-serving-bundle.tar
kompile-core/kompile-c-library/CMakeFiles
kompile-core/kompile-c-library/cmake-build-debug
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
.idea/
*.json
/kompile.iml
/src/docs/
/kompile-parent.iml
