<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~   Copyright 2025 Kompile Inc.
  ~
  ~  Licensed under the Apache License, Version 2.0 (the "License");
  ~  you may not use this file except in compliance with the License.
  ~  You may obtain a copy of the License at
  ~
  ~  http://www.apache.org/licenses/LICENSE-2.0
  -->
<configuration scan="true" scanPeriod="30 seconds">

    <property name="KOMPILE_LOGS_CLI_DIR" value="${user.home}/.kompile/logs/cli" />
    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{24} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CLI_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${KOMPILE_LOGS_CLI_DIR}/kompile-agent.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${KOMPILE_LOGS_CLI_DIR}/kompile-agent-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>50MB</maxFileSize>
            <maxHistory>14</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="ai.kompile" level="INFO" />
    <logger name="org.apache" level="WARN" />
    <logger name="io.netty" level="WARN" />

    <root level="WARN">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="CLI_FILE" />
    </root>
</configuration>
